@import url('http://fonts.cdnfonts.com/css/roboto');

body{
    font-family: 'Roboto' !important;
}

.fs-10{
    font-size: 10pt !important;
}

.fs-11{
    font-size: 11pt !important;
}

.top-5{
    margin-top: -5px !important;
}

.text-grey{
    color: grey !important;
}

.text-grey-light{
    color: rgb(193, 193, 193) !important;
}

.radius-8{
    border-radius: 8px !important;
}

.h-50{
    height: 250px !important;
    object-fit: cover;
}

.text-justify{
    text-align: justify !important;
}